<div class="main-wrapper">
  <mat-toolbar class="mat-elevation-z8">
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened" class="menu-icon"> menu </mat-icon>
      <mat-icon *ngIf="sidenav.opened"  class="close-icon"> close </mat-icon>
    </button>
    <img class="logo" src="assets/images/jumia-logo.png" alt="African No.1 online shopping">
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
      <img class="avatar mat-elevation-z8" src="assets/images/peter.jpg" alt="Peter Munyua"/>

      <h4 class="name">Peter Munyua</h4>
      <p class="designation">Software Engineer</p>

      <mat-divider></mat-divider>

      <button mat-button class="menu-button" routerLink="/users" routerLinkActive="active">
        <mat-icon>group</mat-icon>
        <span>Users</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
